<div class="container-fluid">
  <div class="row d-flex justify-content-center text-center align-items-center">
    <div class="col-12">
      >>Header<<
    </div>
  </div>
<div id="playerDiv" class="row d-flex justify-content-center text-center align-items-center">
  <div class="col-2" id="queue">
  </div>
  <!-- The <iframe> (and video player) will replace this <div> tag. -->
  <div id="player" class="col-10"></div>
</div>
</div>
