@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html *{
    font-family: 'Roboto', sans-serif !important;
    background-color: #232323 !important;
    color: #c5c5c5;
}

#form {
    max-width: inherit;
    display: flex;
    flex-flow: column;
}

#form textarea{
    max-height: 3rem;
    min-height: 3rem;
    border-style: solid;
    border-color: #c5c5c5;
    resize: none;
    text-align: center;
    font-size: large;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

#form *:focus-visible{
    outline: none;
}

#form button {
    align-self: center;
    min-width: 50%;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one */
    display: flex;
    align-items: center;
}

#player{
    min-width: inherit;
    min-height: inherit;
    visibility: hidden;
}

#playerDiv{
    min-width: auto;
    min-height: 100%;
}
